@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
  font-family: "Bangers", cursive;
}
